:root{
    --primary-color: #e0c521;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 9.375rem;
    height: 15.625rem;
    border: .125rem solid var(--primary-color);
    padding: .5rem .3rem;
    margin: .8125rem .625rem;
    position: relative;
    border-radius: .375rem;
}

.card__title{
    font-weight: 400;
    text-align: center;
}

.card__title .card__price{
    font-weight: bold;
}

.image__container{
    width: 6.25rem;
    height: 6.25rem;
    margin: 0 auto;
}

.image__container img{
    width: 100%;
    object-fit: cover;
}

.btn__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card__price{
    text-align: center;
    display: inline-block;
}

.card__badge{
    position: absolute;
    right: 0;
    top:0;
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgb(227, 112, 30);
    border-radius: 50%;
    transform: translate(1.25rem, - 1.25rem) scale(1);
    color:#fff;
    font-weight: bold;
    text-align: center;
    border: .125rem solid rgb(227, 112, 30);
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
    animation: scaleanimation 1s ease infinite;
    opacity: 0.8;
}

@keyframes scaleanimation{
    to{
        transform: translate(1.25rem, - 1.25rem) scale(1.05);
        opacity: 1;
    }
}

.card__badge--hidden{
    display: none;
}

.cards__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}